@model JuntaCentral.Models.Publicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ultima_Vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ultima_Vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celualar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celualar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
